.blog-container {
  /* background-image: image-url("github-background.png"); */
}

.blog-posts {
  width: 80%;
  margin: 0 auto;
}

.blog-title {
  a {
    text-decoration: none;
    color: black;
  }
}

.blog-date {
  color: gray;
  font-size: .8em;
}

